.slider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 7.5vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255); 
    color: #000;
    transition: all 1s;
    z-index: 1000;
}
.slider.slider-partial {
    top: 90vh;
    /* height: 10vh; */
}
.slider.close {
    top: 90vh;
    height: 10vh;
    z-index: 1000;
}
/* .slider-partial {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 90vh;
    overflow: hidden;
    background-color: rgb(202, 191, 191); 
    color: #000;
    transition: all 1s;
    z-index: 1000;
}
.close {
    position: absolute;
    width: 100vw;
    height: 0;
    top: 100vh;
    overflow: hidden;
    background-color: rgb(202, 191, 191); 
    color: #000;
    transition: all 1s;
    z-index: 1000;
} */
.cross-icon {
    position: absolute;
    top : 10px;
    right: 10px;
    width: 25px;
    height: 20px;
}
.more-option {
    position: absolute;
    top: 8pxpx;
    right: 8px;
}

  