/* p {
    line-height: 0.5;
} */
.circular-icon {
    position: relative;
    border-radius: 50%;
    background-color: #036;
    color: white;
    width: 40px;
    height : 40px;
}
.circular-icon-mobile {
    position: absolute;
    border-radius: 50%;
    background-color: #036;
    color: white;
    width: 25px;
    height : 25px;
    float: none;
}

.info, .circular-icon-menu {
    display: inline-block;
}
.bell-parent {
    position: relative;
}
.bell-child {
    background-color: rgb(160, 15, 15);
    position: absolute;
    border-radius: 60%;
    width : 15px;
    height : 15px;
    top : -10px;
    right: -8px;
    color : white;
    vertical-align: middle;
}
/* .bell-size {
    width: 25px;
    height: 25px;
} */
.header-logo-admin {
    /* vertical-align: middle; */
    width : 250px;
}
.header-logo-admin-mobile {
    width : 80px !important;
}
.center-align {
    margin : auto;
}
#search-input {
    border-radius: 50px;
}

/* Individual User Menu */
.menu {
    position: absolute;
    z-index: 50;
    border: none;
    background: none;
}
/* .menuItem {
    position: absolute;
    display: block;
    width:  110px;
} */
.menu-text {
    font-size: 12px;
}
.user-icon-menu {
    position: absolute;
    z-index: 50;
}
.circular-icon-menu {
    border-radius: 50%;
    background-color: #036;
    color: white;
    width: 60px;
    height : 60px;
}
.btn-color {
    background-color: #036;
    color: white;
    border-radius: 25px;
    box-shadow: 0 0 8px 0 gray; 
}
.align-vertical {
    vertical-align: middle !important;
}
.project {
    position: relative;
    display : inline;
    border-bottom: 10px solid gray;
}
.map-thumbnail {
    width : 150px;
    height : 150px;
}
.nav-user {
    margin-bottom: 15px;
}
/* .navItem-user {
    
} */
.pos-drawing {
    display: inline-block;
}
.drawing-right {
    /* position: absolute;
    right: 0; */
    float: right;
}
.navbar-css {
    background-color: rgb(220, 220, 220);
}
.drawing-bottom {
    position: relative;
    border-bottom: 5px solid rgb(200, 200, 200);
    width : 150px;
}
ul {
    list-style-type: none;
}
.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
.project-Item{
    margin-bottom: 25px;
}
.th-admin {
    font-size: 12px;
}
.td-admin-mobile {
    font-size: 12px !important;
}
.sort-glyph {
    font-size:  14px !important;
}
/* .btn {
    padding: 0 !important;
} */
.top-padding {
    padding-right: 15px;
    padding-left: 15px;
}
.dropdown-custom {
    /* float: none !important; */
}
.btn-default {
    border-color : transparent !important;
}
.btn-menu {
    background-color: transparent !important;
}
.navbar-default .navbar-nav>li>a {
    color: black !important;
}
.container {
    width: 100%;
}
#ddb {
    margin-right: 3px !important;
}
@media only screen and (max-width : 768px) {
    .header-logo-admin {
        width : 80px;
    }
    .navbar-mobile {
        display: inline-block;
    }
    .nav>li {
        display: inline-block;
        vertical-align: middle;
    }
    #create-project {
        width: 160px;
        height: 30px;
        font-size: 12px;
    }
    .circular-icon {
        width: 30px;
        height : 30px;
    }
    .circular-icon-menu {
        display: none;
    }
    .navbar-brand {
        height: 40px;
    }
    .nav {
        display: inline-block;
        /* vertical-align: middle; */
    }
    .navItem-user {
        display: inline-block;
        font-size: 12px;
    }
    .nav>li>a {
        padding: 8px 14px !important;
    }
    .navbar-nav {
        margin: 5px -10px !important;
    }
    .navbar-admin {
        display: inline-block;
    }
    .menu-text {
        font-size: 12   px;
    }
}