
.layer-on-off {
    width: 24px;
    visibility: visible;
}
.on-hover:hover {
    cursor: pointer;
}
.color-rectangle {
    width: 15px;
    height: 30px;
    margin: 0 15px;
    float: right;
    background-color: #4D4D4D;
    outline: #B3B3B3 solid 4px;
}
.inline-display {
    display: inline-block;
}
.menu-icon {
    width: 25px;
    height: 25px;
    float: right;
    vertical-align: middle;
}
.layer-title {
    font-size: 18px;
}
.layer-type {
    font-size: 14px;
}
.margin-outside {
    margin: 0 420px;
}
.layer-separator {
    background-color: #49494a;
    margin-top: 8px;
}
/* .layer {

} */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    /* display: inline-block; */
    /* float: right; */
    /* right: 5px; */
    vertical-align: middle;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

@media only screen and (max-width : 768px ) {
    .layer-on-off {
        width: 24px;
    }
    .layer-title {
        font-size: 12px;
        font-weight: 500;
    }
    .layer-type {
        font-size: 10px;
        font-weight: 500;
    }
    .color-rectangle {
        width: 10px;
        height: 20px;
        background-color: #4D4D4D;
        outline: #B3B3B3 solid 4px;
    }
    .menu-icon {
        width: 20px;
        height: 20px;
        float: right;
    }
}

/* tooltip for menu */
.tooltip {
    width: 120px;
    position: relative;
}
.tooltiptext {
    position: absolute;
    color: #000;
}
.tooltip .tooltiptext {
    top: -5px;
    left: 105%;
    background-color: #000;
}
.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;    /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
    opacity: 1;
}