/* .layer-on-off {
    width: 24px;
    visibility: visible;
} */
/* li {
    position: relative;
}*/
/* .layer {
    position: relative;
} */
.on-hover:hover { 
    cursor: pointer;
}
.color-rectangle {
    /* position: absolute; */
    right: 40px;
    top: 5px;
    width: 15px;
    height: 30px;
    background-color: #4D4D4D;
    outline: #B3B3B3 solid 4px;
}
.inline-display {
    display: inline-block;
}
.menu-icon {
    /* position: absolute; */
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    float: right !important;
    vertical-align: middle;
}
.layer-title {
    font-size: 18px;
}
.layer-type {
    font-size: 14px;
}
.layer-separator {
    background-color: #49494a;
    margin-top: 8px;
}
.visibility-icon {
    width: 40px;
    height: 20px;
}
ul {
    padding-inline-start: 0px;
}

@media only screen and (max-width : 768px ) {
    .layer-on-off {
        width: 24px;
    }
    .layer-title {
        font-size: 12px;
        font-weight: 500;
    }
    .layer-type {
        font-size: 10px;
        font-weight: 500;
    }
    .color-rectangle {
        width: 10px;
        height: 20px;
        background-color: #4D4D4D;
        outline: #B3B3B3 solid 4px;
    }
    .menu-icon {
        width: 20px;
        height: 20px;
    }
    .add-attribute {
        position: fixed;
        width: 25px;
        height: 25px;
        bottom: 15px;
        right: 15px;
    }
    input[type=radio] {
        /* width: 15px; */
        margin: 10px 0;
    }
}