.filter-div {
    position: fixed;
    top: 60px;
    left: 310px;
    z-index: 999;
    background-color: #fff;
    padding: 10px;
}
.leaflet-right {
    right: 28% !important;
}
h4 {
    margin-top: 5px;
    margin-bottom: 0px;
    vertical-align: middle;
}
.separator-line {
    width: 100%;
	height: 1px;
	background-color: #cbdbdb;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.75);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.75);
    box-shadow: 1px 1px 1px rgba(0,0,0,.75);
    margin-top: 3px;
    margin-bottom: 5px;
}
.add-import-icons {
    width: 22px;
    height: 22px;
}
.icons-display {
    display: inline;
}
.align-vertical {
    display: inline-block;
    vertical-align: middle;
}
.left-padding {
    padding-left: 25px;
}
.margin-outside {
    margin: 0 5px;
}
.on-hover:hover {
    cursor: pointer;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.layer-btn {
    margin-left: 10px !important;
    width: 60px !important;
}
.hide-btn{
    display: none;
}
.show-btn{
    display: inline-block;
}
.project-layer-box {
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.75);
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.75);
    box-shadow: 1px 2px 5px rgba(0,0,0,.75);
    top: 49px;
    left: 0;
    width: 300px;
    overflow-y: auto;
    min-height: 93.5vh;
    max-height: 93.5vh;
    z-index: 999;
    background-color: white;
    position: absolute;
}
input[type=button] {
    width: 90px;
}
.btnLogout {
    margin-left: 10px;
}
.input-layer {
    display: inline-block;
    position: relative;
}
.modal-custom {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.project-infobox {
    width: 300px;
    /* min-height: 330px;
    max-height: 719px; */
    /* height: 400px; */
    min-height: 150px;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 49px;
    background:#fff;
    display: block;
    box-shadow: #036;
}
.infoDiv {
    display: none;
}

.sangatmandi-infobox {
    width: 250px;
    /* min-height: 206px;
    max-height: 206px; */
    height: 400px;
    position: absolute;
    z-index: 1000;
    left: 300px;
    top: 52px;
    padding: 20px;
    background: #f5f5f5;
    display: block;
    -webkit-box-shadow: #036;
    box-shadow: #036;
}
#ddlPropertyCat {
    margin-right: 20px;
    margin-bottom: 20px;
}
#ddlSelFY {

}
.from-to {
    margin-bottom: 20px !important;
    /* width: 100%; */
}
.show-map-btn {
    margin-top: 20px !important;
}
.paid-unpaid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.paid-unpaid {
    width: 20px;
    height: 20px;
    display: block;
}
.sangatmandi-infoboxhide {
    width: 300px;
    min-height: 191px;
    max-height: 191px;
    position: absolute;
    z-index: 1000;
    right: 40%;
    top: 52px;
    background: #f5f5f5;
    display: none;
    -webkit-box-shadow: #036;
    box-shadow: #036;
}


.text-area{
    height: 200px;
    width: 261px;
    padding-left: 5px;
    margin-left: 5px;
}
#infoText{
    padding-left: 5px;
}
.comp-box-div{
    display: none;
}
.info-header{
    font-size: 25px;
    padding-left: 5px;
}
.info-panel-attr-list {
    max-height: 150px;
    overflow: auto;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;

}
.query-table-div {
    position: absolute;
    top: 70px;
    left: 35%;
    margin: auto;
    width: 800px;
    max-height: 600px;
    border: 2px solid lightgray;
    background-color: #fff;
    overflow: auto;
    z-index: 9999;
}
.query-row:hover {
    cursor: pointer;
}
/* tbody {
    display: block;
    max-height: 600px;
    overflow: auto;
}
thead, tbody, tr {
    display: table;
    max-width: 800px;
    table-layout: fixed;
} */
.table-cross-icon {
    /* position: absolute; */
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    z-index: 100000;
    float: right;
    margin-right: 15px;
}
.cross-icon {
    width: 20px;
    height: 20px;
}

/* table {
    max-width: 800px;
} */
.nav-items {
    display: inline;
}
.query-table {
    margin-top: 20px;
}
.tempButnWid{
    width: 130px !important;
    float: right;
}
.btnLogout{
    float: right;
}
.imageBorder{
    border: 1px solid black;
}
.imageBorder:hover{
    cursor: pointer;
}
.paymentModal{
    widows: 244px;
}

.table-div {
    max-width: 800px;
    margin: auto;
    background-color: transparent;
}
/* .tempBtn {
    width: 250px;
    float: right;
    margin-right: 15px;
} */
.query-head {
    margin-left: 10px;
}
.query-items {
    margin-left: 10px;
}
.query-items:hover {
    cursor: pointer;
}
.query-list-dropdown {
    margin-left: 10px;
}
table.scroll {
    width: 300px;
}
table.scroll tbody,
table.scroll thead tr {
    display: block;
}
table.scroll tbody {
    /* max-height: 185px;
    overflow-y: auto;
    overflow-x: hidden; */
    /* height: 350px; */
    min-height: 37px;
}
table.scroll tbody td,
table.scroll thead th, td {
    width: 142px;
    text-align: center;
}
.layerHL{
    background-color: #e4da9b;
}
.layer-upload {
    position: absolute;
    /* top: 70px; */
    left: 1%;
    width: 300px;
    height: 100px;
    margin: auto;
    background-color: rgb(190, 194, 193);
    border-radius: 10px;
    display: none;
    z-index: 1000;
}
.upload-btn {
    color: rgb(0, 0, 0);
    /* background-color: #4db6ac; */
    /* margin-top: 10px; */
    display: block;
    margin: 18px auto;
}
.cross-icon {
    width: 20px;
    height: 20px;
}
.query-form {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 272px;
    max-height: 350px;
}
.textArea {
    width: 100%;
    border-radius: 5px;
}
.custom-height {
    height: 100px;
}
.query-form-btn {
    width: 100px;
    color: #fff;
    background-color: #4db6ac;
    margin-top: 10px;
}
.query-form-btn:hover {
    background-color: #4db6ac;
}
.cancel-btn {
    margin-left: 22px;
}
.submit-btn {
    margin-left: 15px;
}

@media only screen and (max-width : 768px) {
    .project-layer-box {
        -webkit-box-shadow: none;
	    -moz-box-shadow: none;
        box-shadow: none;
        position: relative;
        /* top: 60px; */
        /* left: 0; */
        width: 100vw;
    }
    .project-menu {
        background-color: gray;
        display: inline-block;
        z-index: 1000;
    }
    .project-nav {
        /* position: fixed; */
        top: 0;
        left: 0;
        background-color: #036 !important;
        width: 100%;
        height: 50px;
        z-index: 1000;
    }
    .menu-item {
        color: #fff;
    }
    /* Position and sizing of burger button */
    .bm-burger-button {
        position: relative;
        width: 26px;
        height: 20px;
        left: 16px;
        top: 16px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: white;
    }
    /* Color/shape of close button cross */
    .bm-cross {
        background: black;
    }
      /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding: 1em;
    }
    .image-left {
        position: relative;
        width: 30px;
        height: 20px;
        left: 16px;
        top: 16px;
    }
    .layers-image {
        width: 26px;
        height: 28px;
        display: inline-block;
        position: absolute;
        right: 16px;
        top: 12px;
    }
    .bottom-layers-panel {
        position: fixed;
        width: 100%;
        background-color: rgb(217, 222, 224);
        bottom: 20px;
        left: 0;
        z-index: 1000;
    }
    .bottom-layers-panel>ul {
        display: block;
    }
    .bottom-layers-panel>ul>li {
        display: inline-block;
    }
    /* bottom drawer */
    .bottom-drawer-bar {
        position: fixed;
        bottom: 40px;
        left: 0px;
        width: 50px;
        height: 50px;
    }
    .bottom-drawer-button {
        z-index: 999;
        bottom : 100px;
        left : 10px;
    }

}
