h4 {
    margin-top: 5px;
    margin-bottom: 0px;
    vertical-align: middle;
}
.separator-line {
    width: 100%;
	height: 1px;
	background-color: #cbdbdb;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.75);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.75);
    box-shadow: 1px 1px 1px rgba(0,0,0,.75);
    margin-top: 3px;
    margin-bottom: 5px;
}
.add-import-icons {
    width: 22px;
    height: 22px;
}
.icons-display {
    display: inline;
}
.align-vertical {
    display: inline-block;
    vertical-align: middle;
}
.left-padding {
    padding-left: 25px;
}
.margin-outside {
    margin: 0 5px;
}
.on-hover:hover {
    cursor: pointer;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.project-layer-box {
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.75);
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.75);
    box-shadow: 1px 2px 5px rgba(0,0,0,.75);
    top: 60px;
    left: 0;
    width: 300px;
    overflow-y: auto;
    max-height: 698px;
    min-height: 698px;
    z-index: 999;
    background-color: white;
    position: absolute;
}
input[type=button] {
    width: 80px;
}
.input-layer {
    display: inline-block;
    position: relative;
}
.modal-custom{
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
input[type=button] {
    width: 120px;
}
.project-infobox{
    width: 266px;
    height: 590px;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 60px;
    background:#fff;
    display: none;
    box-shadow: #036;
    }

.text-area{
    height: 200px;
    width: 261px;
    padding-left: 5px;
    margin-left: 5px;
}
#infoText{
    padding-left: 5px;
}
.comp-box-div{
    display: none;
}
.info-header{
    font-size: 25px;
    padding-left: 5px;
}
.info-panel-attr-list {
    max-height: 150px;
    overflow: auto;
}
.query-table-div {
    position: absolute;
    top: 70px;
    left: 400px;
    max-width: 800px;
    max-height: 600px;
    border: 2px solid lightgray;
    background-color: #fff;
    overflow: auto;
    z-index: 1999;
}
/* tbody {
    display: block;
    max-height: 600px;
    overflow: auto;
}
thead, tbody, tr {
    display: table;
    max-width: 800px;
    table-layout: fixed;
} */
.table-cross-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    z-index: 100000;
}
.cross-icon {
    width: 20px;
    height: 20px;
}

/* table {
    max-width: 800px;
} */
.nav-items {
    display: inline;
}
.query-table {
    margin-top: 20px;
}
.tempButnWid{
    width: 170px !important;
    float: right;
}
.btnLogout{
    float: right;
}
.imageBorder{
    border: 1px solid black;
}
.imageBorder:hover{
    cursor: pointer;
}
.paymentModal{
    widows: 244px;
}
.layer-upload {
    /* position: absolute; */
    top: 100px;
    left: 212%;
    width: 300px;
    height: 100px;
    margin: auto;
    background-color: rgb(190, 194, 193);
    border-radius: 10px;
    display: none;
}
.upload-btn {
    color: rgb(0,0,0);
    display: block;
    margin: 18px auto;
}

@media only screen and (max-width : 768px) {
    .project-layer-box {
        -webkit-box-shadow: none;
	    -moz-box-shadow: none;
        box-shadow: none;
        position: relative;
        /* top: 60px; */
        /* left: 0; */
        width: 100vw;
    }
    .project-menu {
        background-color: gray;
        display: inline-block;
        z-index: 1000;
    }
    .project-nav {
        /* position: fixed; */
        top: 0;
        left: 0;
        background-color: #036 !important;
        width: 100%;
        height: 50px;
        z-index: 1000;
    }
    .menu-item {
        color: #fff;
    }
    /* Position and sizing of burger button */
    .bm-burger-button {
        position: relative;
        width: 26px;
        height: 20px;
        left: 16px;
        top: 16px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: white;
    }
    /* Color/shape of close button cross */
    .bm-cross {
        background: black;
    }
      /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding: 1em;
    }
    .image-left {
        position: relative;
        width: 30px;
        height: 20px;
        left: 16px;
        top: 16px;
    }
    .layers-image {
        width: 26px;
        height: 28px;
        display: inline-block;
        position: absolute;
        right: 16px;
        top: 12px;
    }
    .bottom-layers-panel {
        position: fixed;
        width: 100%;
        background-color: rgb(217, 222, 224);
        bottom: 20px;
        left: 0;
        z-index: 1000;
    }
    .bottom-layers-panel>ul {
        display: block;
    }
    .bottom-layers-panel>ul>li {
        display: inline-block;
    }
    /* bottom drawer */
    .bottom-drawer-bar {
        position: fixed;
        bottom: 40px;
        left: 0px;
        width: 50px;
        height: 50px;
    }
    .bottom-drawer-button {
        z-index: 999;
        bottom : 100px;
        left : 10px;
    }

}
