
a {
  text-decoration: none !important;
}
.top-margin {
  margin-top: 25px;
}
.border-css {
  padding : 15px; 
  border-radius : 25px; 
  background-color: white;
}
/* Forms */
.form-height {
  height: 400px;
}
.input-field {
  line-height: 1;
}
.input-field {
  margin : 0px;
} 
.invalid-input {
  color : red;
}
.input-relative {
  position: relative;
}
.input-container {
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
}
.forgot-link {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 0px;
}

/* *** */
/* Images */
.buildings-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}
.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 175px;
}
/* Navigation */
.home-nav {
  background-color: #036;
}
.header-logo {
  /* position: static;
  left : 0px; */
  width : 250px;
  vertical-align: middle;
}
.form-css {
  display: block;
  width: 80%;
  margin: 0 auto;
}
/* *** */
/* buttons */
.btn-auth {
  background-color: #06c;
  color : white; 
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
/* *** */
/* Footer */
.footer-elem {
  display: block;
}
.display-block {
  display: block;
}
/* .pos-footer {
  position: fixed;
  bottom: 0px;
  left: 0px; 
} */
/* *** */
/* Preloader  */
.preloader-background {
  display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: lightgray; */
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
  bottom: 0;
}
.top-padding {
  padding-top: 75px;
}
input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width : 100%;
}
input:hover {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.align-vertical {
  vertical-align: middle;
}
a {
  white-space: nowrap;
}
.navbar-nav {
  float: right;
}
.btn {
    padding: 0 !important;
}
@media only screen and (max-width : 768px) {
  .header-logo {
    position: absolute;
    top: 5px;
    left: 20px;
  }
}