
/* .hr-row {
  background-color : #036;
} */
a {
  text-decoration: none;
}
.top-margin {
  margin-top: 25px;
}
.border-css {
  padding : 15px; 
  border-radius : 25px; 
  background-color: white;
  /* height : 600px; */
}
/* Forms */
.form-height {
  height: 400px;
}
.input-field {
  line-height: 1;
}
.input-field {
  margin : 0px;
} 
.invalid-input {
  color : red;
}
.input-relative {
  position: absolute;
}
.input-container {
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
}
.forgot-link {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 0px;
}

/* *** */
/* Images */
.buildings-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}
.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 175px;
}
/* Navigation */
.home-nav {
  background-color: #036;
}
.header-logo {
  /* position: static;
  left : 0px; */
  width : 250px;
}
/* *** */
/* buttons */
.btn-auth {
  color : #06c; 
  margin-top: 15px;
  margin-bottom: 15px;
}
/* *** */
/* Footer */
.footer-elem {
  display: block;
}
/* .pos-footer {
  position: fixed;
  bottom: 0px;
  left: 0px; 
} */
/* *** */
/* Preloader  */
.preloader-background {
  display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: lightgray; */
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
  bottom: 0;
}
.top-padding {
  padding-top: 65px;
}
input {
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
}